#overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  #content {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: 600px;
    height: fit-content;
    max-height: 600px;
    background-color: #fff;
    padding: 30px;
    text-align: left;
    h2 {
      text-align: center;
    }
    table {
      margin: 0 auto;
    }
    .buttons {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 0 10px;
      }
    }
  }
}